// Colors
$primary: #180043;
$secondary: #09001A;

// Font
$font-family-base: 'Kanit',
sans-serif;
$font-weight-base:300;
$enable-responsive-font-sizes: true;

// Slick
$slick-font-path: '../fonts/';
$slick-loader-path:'../images/';

// Body
$body-bg: $secondary;
$body-color: white;

// Form
$input-border-radius:0;
$input-group-addon-bg: white;

// Buttons
$btn-border-radius:0;